@media screen and (max-width: 768px){
    .content{
        width:90% !important;
        height:80px;
    }
    #header .content-margin a{
        padding-left: 15px;
        font-size:14px;
    }
    .person p:nth-child(2){
        font-size: 10px !important;
        text-align: center;
    }
    .footer-top{
        width:80%;
    }

}
@media screen and (max-width: 414px){
    .content{
        width:90% !important;
        height:50px !important;
    }
    .content img{
        width:30% !important;
    }
    .content-margin{
        height:50px !important;
        line-height: 50px !important;
    }
    #header .content-margin a{
        padding-left: 6px;
        font-size:10px;
    }

    .person p:nth-child(2){
        font-size: 10px !important;
        text-align: center;
    }
    .footer-top{
        width:90%;
    }

}

/*@media screen and (max-width: 1112px){*/

   /*.content-margin a{*/
        /*font-size:15px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 918px){*/

    /*.content{*/
        /*height:70px;*/
    /*}*/
    /*.content img{*/
        /*width:35%;*/
        /*height:35%;*/
        /*margin-top: 35px;*/
    /*}*/
    /*.content-margin a{*/
        /*font-size:10px;*/
        /*padding-left: 10px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 841px){*/

    /*#header .header-content{*/
        /*height:70px;*/
    /*}*/
    /*#header .header-content img{*/
        /*width:35%;*/
        /*height:35%;*/
        /*margin-top: 35px;*/
    /*}*/
    /*.content-margin a{*/
        /*font-size:10px;*/
        /*padding-left: 10px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 667px){*/
    /*#header .header-content{*/
        /*height:60px;*/
    /*}*/
    /*.content-margin a{*/
        /*font-size:8px;*/
        /*padding-left: 3px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 556px){*/
    /*#header .header-content{*/
        /*height:50px;*/
    /*}*/
    /*.content-margin a{*/
        /*font-size:2px;*/
        /*padding-left: 0px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 414px){*/
    /*#header.fixed {*/
        /*background-color: #000000;*/
    /*}*/
    /*.content-margin{*/
        /*height:70px;*/
        /*line-height: 70px;*/
        /*float:right;*/
    /*}*/
    /*.content{*/
        /*width:100%;*/
        /*height:70px;*/
       /*text-align: center;*/
    /*}*/
    /*.content img{*/
        /*float:left;*/
        /*width:20%;*/
        /*height:20%;*/
        /*margin-left: 5px;*/
    /*}*/
    /*.content-margin a{*/
        /*font-size:10px !important;*/
        /*padding-left: 6px;*/
        /*padding-right: 0px;*/
        /*margin-right: 5px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 414px){*/

    /*.content img{*/
        /*display: none;*/
    /*}*/
/*}*/

















